# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID_MONTHLY=
STRIPE_PRICE_ID_ANNUAL=
APP_URL=https://consultorcasillas.vercel.app/

# Resend Configuration (Alternative to SMTP)
RESEND_API_KEY=

# SMTP Configuration for Emailing Documents
# Note: If using Resend without a verified domain, SMTP_FROM must be 'onboarding@resend.dev'
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=hailtools@example.com
